body {
  justify-items: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding-top: 30px;
}

.grid {
  display: flex;
  border: solid black 1px;
  width: 800px;
  height: 800px;
  flex-wrap: wrap;
}
