body {
  justify-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 36px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

h2 {
  font-size: 30px;
}

.container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding-top: 30px;
}

.grid {
  display: flex;
  background-color: lightgray;
  width: 800px;
  height: 800px;
  flex-shrink: 0;
  flex-direction: column;
}

.side-bar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

button {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
